<div class ="container">
 <div class="row">
    <div class="product col-md-6 "><p>
  
<p id="notice"><%= notice %></p>

<h1>Listas de Comunas y Precios</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= link_to 'Edit', edit_user_list_path(list.user, list) %></td>
         <td><%= link_to 'Comunas y Precios Asociados', user_list_path(list.user, list) %></td>
        <td><%= link_to 'Eliminar', user_list_path(list.user, list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>
</div>


<div class= "container">
<div class="row">
    <div class="product col-md-4 "><p>
  
<%= form_for [current_user, @list] do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</

</div>




