<p id="notice"><%= notice %></p>

<h1>Listing Lists</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= link_to 'Edit', edit_user_list_path(list.user, list) %></td>
         <td><%= link_to 'Show', user_list_path(list.user, list) %></td>
        <td><%= link_to 'Destroy', user_list_path(list.user, list), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Lista', new_user_list_path(current_user) %>




