<div class="paginaRegistro">
  <div class="container">
    <div class="escrito">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="logo">

          </div>

           <div class="titulo">
              <h2> ¡No pierdas más tiempo organizando cumpleaños! </h2>
            </div>

             <div class="sub-titulo">
              <h3> Encuentra una gran variedad de proveedores para cumpleaños infantiles  </h3>
            </div>

          <div class="row" class="campos">
            <div class="col-md-10">
              <div class="col-md-offset-3">

          <div class="field">
             <%= f.email_field :email, class: "form-control",  placeholder: "Ingresa tu correo ",  autofocus: true %>
          </div>

          <div class="field">
            <%= f.password_field :password, autocomplete: "off",  class: "form-control",  placeholder: "Ingresa una contraseña " %>
              <% if @validatable %>
            <em>(<%= @minimum_password_length %> carácteres mínimos)</em>
            <% end %><br />
          </div>

          <div class="field">
            <%= f.password_field :password_confirmation,  class: "form-control",  placeholder: "Reingresa tu contraseña ", autocomplete: "off" %>
          </div>

          <div class="actions">
            <%= f.submit "Regístrarse" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
        </div>
        </div>
        </div>
    </div>
  </div>

</div>

<style type="text/css">
  
.paginaRegistro {
  background-image: url("<%= asset_path('globos.jpg')%>");
  background-repeat: no-repeat;
  size: 1600px 1200px;
  background-position: center; 
  height: 700px;
}

.escrito {
    background-color: white;
    border: 2px solid black;
    opacity: 0.8;
    filter: alpha(opacity=60);
    margin-top: 150px;
    text-align: center;
    padding-bottom: 50px;

}

.form-control .input {

  background-color: white;
}

.sub-titulo {
  margin-top: 1px;
  margin-bottom: 30px;
}

.campos {

  margin-top: 2px;

}

.logo {

}



</style>