<div class="container">
  <p id="notice"><%= notice %></p>
  
  <div class="row">
    <div class="product col-md-10 "><p>

    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><%= @product.name %> | <%=  Category.find(@product.category_id).name %> </div>
  <div class="panel-body">
    <p>
    <%= image_tag(@product.photo, size:"300") %>    
    <%= @product.description %>
    </p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"> Nombre: <%= @product.name %>
    </li>
    <li class="list-group-item"> Categoría : <%=  Category.find(@product.category_id).name %></li>
    <li class="list-group-item"> Ideal para niños entre <%= (@product.age_range_from) %> y <%= (@product.age_range_to)%></li>
     <li class="list-group-item"> Duración del servicio: <%=  Timeservice.find(@product.timeservice_id).name %>  </li>
     <li class="list-group-item">
     <%= @product.options_extra_time %>. <%= @product.description_extra_time %>
     </li>

    <li class="list-group-item"> La capacidad máxima del producto son: <%=  Maxcapacity.find(@product.maxcapacity_id).name %></li>
  
    <li class="list-group-item"> <%= @product.options_extra_kid_string %> Se aceptan hasta <%= @product.max_extra_kid %> y cada uno tiene un costo de <%= @product.cost_extra_kid %> </li>
    <li class="list-group-item">EL precio base es $<%= @product.base_price %></li>
    <li class="list-group-item"><%= @product.options_additional %></li>
  </ul>
</div>
</div>