<link rel="stylesheet" type="text/css" href="formulario.css">
<%= form_for(@event) do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
  <div class="col-md-7">
    <div class="col-md-offset-1">

       <div class="field" class="form-event">
        <%= f.label :namekid %><br>
        <%= f.text_field :namekid, class: "form-control" %>
      </div>
       <div class="field" class="form-event">
        <%= f.label :comunne_id %><br>
         <%= f.select :comunne_id, Comunne.all.map{|c| [c.name, c.id]}, :prompt => "Seleccione una comuna" %>
      </div>
       <div class="field" class="form-event">
        <%= f.label :date %><br>
        <%= f.date_select :date, min: Date.today %>
      </div>
       <div class="field" class="form-event">
        <%= f.label :timefrom %><br>
        <%= f.time_select :timefrom %>
      </div>
       <div class="field" class="form-event">
        <%= f.label :timeto %><br>
        <%= f.text_field :timeto, class: "form-control" %>
      </div>
       <div class="field" class="form-event">
        <%= f.label :guestkid %><br>
        <%= f.number_field :guestkid, min: 0, class: "form-control" %>
      </div>
       <div class="field" class="form-event">
        <%= f.label :guestadult %><br>
        <%= f.number_field :guestadult, min: 0, class: "form-control" %>
      </div>
       <div class="field" class="form-event">
        <%= f.label :address %><br>
        <%= f.text_field :address, class: "form-control" %>
      </div>
       <div class="field" class="form-event">
        <%= f.label :phone %><br>
        <%= f.telephone_field :phone, class: "form-control" %>
      </div>
       <div class="field" class="form-event">
        <%= f.label :agekidsfrom %><br>
        <%= f.select :agekidsfrom, Agerange.all.map{|a| [a.name]}, :prompt => "Desde los: "%>
      </div>
      <div class="field" class="form-event">
        <%= f.label :agekidsto %><br>
        <%= f.select :agekidsto, Agerange.all.map{|a| [a.name]}, :prompt => "Hasta los: "%>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
     <% end %>
   </div>
  </div>
  </div>
