<p id="notice"><%= notice %></p>

<p>
  <strong>Namekid:</strong>
  <%= @event.namekid %>
</p>

<p>
  <strong>Comunne:</strong>
  <%= @event.comunne %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Timefrom:</strong>
  <%= @event.timefrom %>
</p>

<p>
  <strong>Timeto:</strong>
  <%= @event.timeto %>
</p>

<p>
  <strong>Guestkid:</strong>
  <%= @event.guestkid %>
</p>

<p>
  <strong>Guestadult:</strong>
  <%= @event.guestadult %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @event.phone %>
</p>

<p>
  <strong>Agekidsfrom:</strong>
  <%= @event.agekidsfrom %>
</p>

<p>
  <strong>Agekidsfrom:</strong>
  <%= @event.agekidsfrom %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
