
<h3>   

</h3>



<div class="container">
   
   <div class="row vista-general-productos">
    <% @products.each do |product| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
         <%= image_tag(product.photo, size:"250") %>
        <div class="caption">
          <h3><%= product.name %></h3>
          <p> Rango de edad adecuado: <%= product.age_range_from %> a <%= product.age_range_to %></p>
          <p> Precio: <%= product.base_price %></p>
          <p> Capacidad máxima: <%=  Maxcapacity.find(product.maxcapacity_id).name %></p>
          <p> Tiempo: <%=  Timeservice.find(product.timeservice_id).name %></p>

          <p><a href="#" class="btn btn-primary" role="button">Ver más</a> </p>
        
        </div>
      </div>
    </div>
     <% end %>
  </div> 
</div>
