 <div class="row">
          <div class="col-md-5">
          <div class="col-md-offset-1">

 <table class="table">

<%= form_for [current_user, @tranport_rate] do |f| %>
  <% if @transport_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transport_rate.errors.count, "error") %> prohibited this transport_rate from being saved:</h2>

      <ul>
      <% @transport_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :'Nombre de lista' %><br>
    <%= f.select :list_id, List.all.map{|l| [l.name, l.id]} %>
  </div>
  <div class="field">
    <%= f.label :'Seleccione una comuna en la que trabaje' %><br>
    <%= f.select :comunne_id, Comunne.all.map{|c| [c.name, c.id]}%>
  </div>

  <div class="field">
    <%= f.label :'Cargo adicional por traslado' %><br>
    <%= f.number_field :price  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  </table>

   
  </div>
</div>
</div>