<!DOCTYPE html>
<html>
<head>
  <title>Easyplanner03</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="http://localhost:3000">Inicio</a></li>
  <% if user_signed_in? %>
  <li role="presentation"><a href="<%= user_lists_path(current_user) %>">Listas</a></li>
  <li role="presentation"><a href="<%= user_products_path(current_user)%>">Productos</a></li>
  <li role="presentation"><a href="<%= user_events_path(current_user)%>">Evento</a></li>
  <% end %>
  <li role="presentation"><a href="<%= users_path %>">Usuarios</a></li>


</ul>

<%= yield %>

</body>
</html>
